.blog__item {
    border: 1px solid #7c8a972e;
    text-align: justify;
   
}

.blog__title {
    text-decoration: none;
    color: #000d6b;
    font-size: 1.2rem;
    font-weight: 600;
 
   
}

.blog__title:hover {
    color: #f9a826;
}
.blog__item img {
    width: 100%; 
    height: 280px; 
    object-fit: cover; 
  }

@media only screen and (max-width: 768px) {
.blog__info p {
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin-top: 10px;
    
    }
    
    .blog__title {
        font-size: 1.1rem;
    }
}     
  